@page "/Booklist"
@using Microsoft.EntityFrameworkCore;
@using System.Diagnostics;
@using LibraryApp.Data
<style>
   


</style>
<MainTitle title="قائمة الكتب"></MainTitle>
<div class="page-body">
    <p style="margin:0;font-weight:600">ابحث عن كتاب:</p>
    <div style="display:flex;flex-direction:row;">
        <input type="text" class="custom-select" @bind-value=@book_search_words style="margin:10px 10px" />
        <button class="btn btn-success" style="margin:10px 10px" @onclick="start_search">بحث</button>
    </div>
    
    <p>المدة: @elapsedTime</p>
    @if (searchBooksResult == null)
    {

    }
    else
    {
        <div style="display:flex;flex-direction:column;flex:2;">
            <div style="display:flex;flex-direction:row;justify-content:space-between">
                <h3>نتائج البحث في الكتب</h3>
                <span class="oi oi-x btn" style="color:#1d764d" @onclick="closeSearch"> </span>
            </div>
            <p>النتائج: @searchBooksResult.Length</p>
            <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive" style="">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>رقم الكتاب</th>
                            <th>اسم الكتاب</th>
                            <th>القسم</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Model._0bok book in searchBooksResult)
                        {
                            var rowClass = book == selectedBook ? "selected" : "";
                            <tr @onclick="()=>viewBook(book)" class="@rowClass" style="cursor:pointer;">
                                <td>@book.Bkid</td>
                                <td>@book.Bk</td>
                                <td>@book.CatNavigation.Name</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    }

<div style="display:flex;flex-direction:column;">
     @if (selectedBook != null)
        {
            <div style="display:flex;flex-direction:row;justify-content:space-between">
                <h3>كتاب : @selectedBook.Bk</h3>
                <div style="display:flex;flex-direction:row;justify-content:flex-start">
                    <button class="btn btn-success" @onclick="()=> openBookOnNewTab()" style="color:white;margin:0px 10px;height:fit-content;padding:2px 5px;">نافذة جديددة<span class="oi oi-external-link btn" style="color:white;padding:0px 4px;font-size:12px;"></span></button>
                    <span class="oi oi-x btn" style="color:#1d764d" @onclick="closeBook"> </span>
                </div>

            </div>
        }
        @if (selectedBook != null)
        {
            <BookView selectedBook="selectedBook" showtitle="false"></BookView>
        }
   @*     @if (selectedBook != null)
    {
        
        <div style="display:flex;flex-direction:row;justify-content:space-between">
            <div style="display:flex;flex-direction:row;justify-content:flex-start">
                    <h3>@selectedBook.Bk</h3>
                    <span class="oi oi-external-link btn" style="color:#1d764d" @onclick="()=> openBookOnNewTab()"></span>
            </div>
          
            <span class="oi oi-x btn" style="color:#1d764d" @onclick="closeBook"> </span>
        </div>
        <div class="custom-row">
            @if (selectedBook.Books != null)
            {
                var partlist = selectedBook.Books.Select(b => b.Part).Distinct().OrderBy(p => p.Value);
                <span class="item-margin item-center">الجزء</span>
                <select @onchange=change_part_event class="custom-select item-margin " style="width:10% !important;">

                    @foreach (var item in partlist)
                    {
                        <option class="dropdown-item" value=@item.Value>@item.Value</option>
                    }
                </select>
                <span class="item-margin item-center">من</span>
                <span class="item-margin item-center">@partlist.ToList().Count</span>
            }
           
        </div>
        <div class="custom-row">

                  

                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive" style="flex:5;max-height:68vh;background-color: lightgoldenrodyellow;border-radius:8px;padding:10px;">
                    <table class="table table-hover " style="">
                        <thead class="">
                            <tr>
                                <th scope="col">العناوين</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Titles_List != null)
                            {

                                @foreach (var item in Titles_List)
                                {
                                    <tr style="cursor:pointer;" @onclick="()=>select_title(item)">
                                        <td>@item.Tit</td>
                                    </tr>
                                }


                            }
                        </tbody>
                    </table>
                </div>

                   
                
            
            <div  style=" flex:20;">
               
                   
                        
                   
                          <div style="width:100%;height:68vh;font-size:100%;background-color: lightgoldenrodyellow;border-radius:8px;overflow:auto;padding:10px;flex:20;">
                        @if (selectedpart.Count != 0)
                        {
                            <h4 class="alert-heading">الصفحة @(pageindex + 1) من @selectedpart.Count</h4>
                              @((MarkupString)converted_text)
                        }
                        else
                        {
                            <h4 class="alert-heading">لا يوجد صفحات</h4>
                        }
                        </div>
                   
                  
                
            </div>
         
         </div>

        <div class="custom-row" style="justify-content:space-between !important;">
            <button class="btn btn-success item-margin" style="" @onclick="PerviousPage">السابق</button>
            <input class="custom-select item-margin" style="width:10vw !important; text-align:center" value="@(pageindex+1)" @onchange=input_change />
            <button class="btn btn-success item-margin" style="" @onclick="NextPage">التالي</button>
        </div>
    }*@
    <div style="display:flex;flex-direction:row;flex:1;">
        @if (categoriesResult == null)
        {
               
            <p><em>جاري عرض الاقسام ...</em></p>
        }
        else
        {
                Stop();
            <div style="display:flex;flex-direction:column;flex:1;">
                <h3>الاقسام</h3>
               
                    <div style="display:flex;flex-direction:row;">
                        <input type="text" class="custom-select" @bind-value=@category_search_words style="margin:10px 10px;" />
                        <button class="btn btn-success" style="margin:10px 10px" @onclick="start_search_category">بحث</button>
                        <span style="flex:1"></span>
                        @if (searchCategoriesResult != null)
                        {
                            <span class="oi oi-x btn item-center" style="color:#1d764d;" @onclick="closeCategroiesSearchResults"> </span>
                        }
                     
                    </div>
                    @if (searchCategoriesResult != null)
                    {
                        <p>النتائج: @searchCategoriesResult.Length</p>
                    }
                    else
                    {
                        <p>النتائج: @categoriesResult.Length</p>
                    }
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive" style="">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th>الرقم</th>
                                <th>الاسم</th>

                            </tr>
                        </thead>
                        <tbody>
                                @{
                                    Model._0cat[] list;
                                    if (searchCategoriesResult!=null)
                                    {
                                        list = searchCategoriesResult;
                                    }
                                    else
                                    {
                                        list = categoriesResult;
                                    }
                                    @foreach (Model._0cat category in list)
                                    {

                                        var rowClass = category == selectedCategory ? "selected" : "";

                                        <tr @onclick="()=>viewBooks(category)" class="@rowClass" style="cursor:pointer;">
                                            <td>@category.Id</td>
                                            <td>@category.Name</td>
                                        </tr>
                                    }
                            
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>


        }
        <br />
        @if (booksResult == null)
        {

        }
        else
        {
                <div style="display:flex;flex-direction:column;flex:2;border-right: solid #1d764d; padding-right: 20px;margin-right:20px">
                <h3>الكتب</h3>
                <p>النتائج: @booksResult.Length</p>
                <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive" style="">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th>رقم الكتاب</th>
                                <th>اسم الكتاب</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Model._0bok book in booksResult)
                            {
                                var rowClass = book == selectedBook ? "selected" : "";
                                <tr @onclick="()=>viewBook(book)" class="@rowClass" style="cursor:pointer;">
                                    <td>@book.Bkid</td>
                                    <td>@book.Bk</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        }

    </div>
</div>

</div>





@code {
    string theurl = "/Book";
    string thefunc = "open";
    string thetarget = "_blank";
    Model._0bok[]? booksResult { get; set; }
    Model._0cat[]? categoriesResult { get; set; }
    Model._0bok selectedBook { get; set; }
    Model._0cat selectedCategory { get; set; }
    List<Model.Book>  selectedpart { get; set; }
    Model._0bok[]? searchBooksResult { get; set; }
    Model._0cat[]? searchCategoriesResult { get; set; }
    string converted_text = "";
    string book_search_words { get; set; }
    string category_search_words { get; set; }

    int pageindex = 0;

    protected override async Task OnInitializedAsync()
    {
        //MainLayout d = new MainLayout();
        //d.change_ti("قائمة الكتب");
        // notifi.change_title();

        //Start();

        //using (Model.DbtContext db = new Model.DbtContext())
        //{
        //    categoriesResult = await db._0cats.Where(c => c.Id != 0).OrderBy(c=>c.Name).ToArrayAsync();
        //}
        //Stop();
       
        

        
    }
    protected override async void OnAfterRender(bool firstRender)
    {

        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Start();
            categoriesResult = await getcat();
            
            
        }

        // Stop();
    }
    async Task<Model._0cat[]> getcat()
    {
        //   Start();

        using (Model.DbtContext db = new Model.DbtContext())
        {
            return await db._0cats.Where(c => c.Id != 0).OrderBy(c => c.Name).ToArrayAsync();
        }
        //Stop();
       //
    }

    async Task start_search()
    {
        string s = $@"""{book_search_words}""";
        if (book_search_words != null && book_search_words != "")
        {
            Start();
            using (Model.DbtContext db = new Model.DbtContext())
            {
                searchBooksResult = await db._0boks.Where(b => EF.Functions.Contains(b.Bk, s)).Include(b => b.CatNavigation).ToArrayAsync();

            }
            Stop();
        }
    }
    async Task start_search_category()
    {
        if (category_search_words != null && category_search_words != "")
        {
            Start();
            using (Model.DbtContext db = new Model.DbtContext())
            {
                searchCategoriesResult = await db._0cats.Where(b => EF.Functions.Contains(b.Name, category_search_words)).ToArrayAsync();

            }
            Stop();
        }
     
    }
    void closeCategroiesSearchResults()
    {
        searchCategoriesResult = null;
        category_search_words = "";
    }
    void closeSearch()
    {
        searchBooksResult = null;
    }
   
    @inject IJSRuntime JSRuntime
    async Task openBookOnNewTab()
    {
        var url = $"/Book?data={selectedBook.Bkid}";
        InvokeAsync(() => JSRuntime.InvokeVoidAsync("open", url, "_blank"));
       // NavigationManager.NavigateTo("/Book", true);
        //var json = JsonSerializer.Serialize(selectedBook);
        //var base64 = Convert.ToBase64String(System.Text.Encoding.UTF8.GetBytes(json));
       // var url = "/Book";
        //  await JSRuntime.InvokeVoidAsync("open", url, "_blank");
        //await JSRuntime.InvokeVoidAsync("open", new object[2] { url, "_blank" }  );
    }
    async Task viewBook(Model._0bok book)
    {       
        Start();
        using (Model.DbtContext db = new Model.DbtContext())
        {
            book.Books= await db.Books.Where(b=>b.Bookid==book.Bkid).OrderBy(p=>p.Id).ToArrayAsync();
            selectedBook = book;
         

        }
        Stop();

    }

    
    async Task viewBooks(Model._0cat category)
    {
        Start();
        using (Model.DbtContext db = new Model.DbtContext())
        {
            booksResult = await db._0boks.Where(b => b.Cat == category.Id).OrderBy(b=>b.Bk).ToArrayAsync();
            selectedCategory = category;
        }
        Stop();


    }
    void closeBook()
    {
        selectedBook = null;
    }
    private Stopwatch _stopwatch = new Stopwatch();
    private string elapsedTime;
    private Timer _timer;
    public void Start()
    {
        //_stopwatch.Reset();
        _stopwatch.Start();
        _timer = new Timer(UpdateUI, null, 0, 500);
    }

    public void Stop()
    {
        _stopwatch.Stop();

       
        _timer.Dispose();

    }
    private void UpdateUI(object state)
    {
        InvokeAsync(() =>
        {
            elapsedTime = _stopwatch.Elapsed.ToString("hh\\:mm\\:ss");
            StateHasChanged();
        });

       
    }
   
}
